@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#212121] text-white
}

.data-table {
  @apply border border-gray-300 rounded-lg overflow-hidden bg-white;
}

.data-table .rdt_TableHead {
  @apply bg-gray-200 text-gray-700 font-semibold;
}

.data-table .rdt_TableRow {
  @apply hover:bg-gray-100 text-gray-600;
}

.data-table .rdt_TableCell {
  @apply px-4 py-2 text-sm;
}

.data-table .rdt_Pagination {
  @apply mt-4 flex justify-between items-center text-gray-600 text-sm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Makes the icon white */
}

